@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

p {
  font-size: 20px;
}

.icon-image-small{
  height: 40px;
  width: 40px;
  margin: 5px;
  border-radius: 50px;
}

.containerlog  {
  margin: 0 auto;
  max-width: 600px;
  overflow: auto;
  text-align: center;
  padding-top: 200px ;
}


.form {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 1rem;
}

.form input {
  display: block;
  width: 100%;
  height: 25px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 17px;
}


/* 
button:hover {
  cursor: pointer;
  color: white;
  background-color: steelblue;
}

.container {
  margin: 0 auto;
  max-width: 600px;
  overflow: auto;
  text-align: center;
}

.containerlog {
  margin: 0 auto;
  max-width: 600px;
  overflow: auto;
  text-align: center;
}

.form {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 1rem;
}

.form input {
  display: block;
  width: 100%;
  height: 25px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 17px;
}
body {
  background-color: whitesmoke;

}

.navBar-button button {
  color: whitesmoke;
}

.button-like{
  width: 50px;
  height: 50px;
  background-color: #AAAAAA;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
  font-size: 22px;
  color:#fff;
  cursor: pointer;
}

.addtopic{
  width: 150px;
  height: 50px;
  background-color: #AAAAAA;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
  font-size: 22px;
  color:black;
  cursor: pointer;
} */

.addform{
  padding: 100px 200px;
}

.home-page{
  padding-top: 30px;
}

 


table.dable{
  margin: 0px 50px 50px 50px;
}
.update-delete{
  margin-right: 5px;
}

.admindiv{
  margin: 50px 50px;
  padding: 10px 40px;
}

.chart{
  margin: 20px;
  padding-bottom: 20px;
  text-align: center;
  background-color: #333;
  color: whitesmoke;
  border-radius: 10px;
  padding-top: 10px;
}
.commentform{
  justify-content: space-evenly;
}

.navbar-toggler{
  color: white;
}

.whitebite{
  color: white;
}

.profile-container, .update-form, .profile-chat, .topic-page, .topic-page-profile, .profile-update-delete{
  display: flex;
}

.profile-info img{
  margin: 10px 100px;
  height: 200px;
  width:  200px;
  object-fit:cover;
}

.profile-info-topic img{
  height: 250px;
    width: 250px;
    object-fit: cover;
}

.profile-topic{
  padding: 10 90px;
}

/* Driding CSS  */

.home-page{
  padding: 80px 10px;

}

/* button */
.button-new{
  padding: 7px 10px;
  background-color: #333;
  color: whitesmoke;
  border-radius: 10px;
}
.table-header{
  background-color: #333;
}

.title-name{
  text-decoration: none;
color: #333;
}

.title-name-capitalized{
  text-transform: uppercase;
}

.author-name-small{
  text-transform: lowercase;
}

.author-name{
  font-size: large;
  font-weight: 500;
}

.table-row{
  padding-top: 50px;
}

.like{
  width: 55px;
}

.profile-page{
  margin: 100px 50px;
}

.profile-container{
  gap: 50px;
}

.profile{
padding-bottom: 50px;

}

.image img{
  height: 250px;
  width: 250px;
  object-fit: cover;
  border-radius: 25px;
}

.information h5{
  margin-bottom: 25px;
}

.send-message-form div{
  padding-top: 10px;
}

.profile-titles{
  text-transform: uppercase;
  text-align: center;
  background-color: #333;
  color: whitesmoke;
  border: #333 solid 1px;
}

.textarea-comment{
  padding: 10;
}

.profile-update-delete{
  gap: 5px;
  justify-content: right;
}

.topic-container-div{
  margin-top: 15px;
  
}

.topic-container-div h3{
  text-align: center;
  background-color: #333;
  color: white;
}

.topic-container-div p {
  font-family: sans-serif;
  font-size: 20pt;
  border: 1px solid #333;
  padding: 10px 15px;
}

.topic-textarea{
  padding: 15px;
  border: 1px solid #333;
}

.comment-textarea{
  padding: 5px;
}

.comment-div{
  display: block;
  justify-content: right;
  padding: 0 25px;
}

/* direct messages */

.direct-message-page-div{
  padding: 20px 20px;
  display: flex;
}


/* Chat containers */
.containerChat {
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
  width: 700px;
}

/* Darker chat container */
.darker {
  border-color: #ccc;
  background-color: #ddd;
}

/* Clear floats */
.containerChat::after {
  content: "";
  clear: both;
  display: table;
}

/* Style images */
.containerChat img {
  float: left;
  max-width: 60px;
  width: 100%;
  margin-right: 20px;
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

/* Style the right image */
.containerChat img.right {
  float: right;
  margin-left: 20px;
  margin-right:0;
}

/* Style time text */
.time-right {
  float: right;
  color: #aaa;
}

/* Style time text */
.time-left {
  float: left;
  color: #999;
}

.direct-message-page-div{
padding-top: 100px;
gap: 150px;
padding-left: 100px;
}

.listofUsers{
  padding: 12px;
  
}


/* usernamesin chat */


.usernamedivchat{
  background-color:  #ccc;
  text-align: center;
  padding: 10px;
  border: 2px solid #999;
  border-radius: 5px;
  padding-bottom: 5px;
  margin-bottom: 10px;
  width: 200px;
}

.messages-h3{
  padding-top: 10px;
  text-align: center;
  background-color: #333;
  color: whitesmoke;
  padding-bottom: 10px;
  border-radius: 5px;
}

.users-h3{
  text-align: center;
  background-color: #333;
  color: whitesmoke;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: -10px;
  border-radius: 5px;
}

/* topic profileimage */

.profile-info-topic img {
  border-radius: 10px;
}

